---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":64361581,"PaymentType":"CARD","DebitedFunds":{"Currency":"EUR","Amount":287.0},"CreditedUserId":64347949,"Fees":{"Currency":"EUR","Amount":0},"CreditedWalletId":64348317,"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/projects","Culture":"FR"}'
    headers:
      Authorization:
      - bearer e8675edeadcd4d69831c2e0e7b769391
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm=MangopayAuthentication
      - Bearer realm="MangopayAuthentication"
    body:
      encoding: UTF-8
      string: '{"Message":"The authorization credentials are not valid","Type":"invalid_credentials","Id":"6f9f62bf-c419-4ee9-96c2-4638c5660c2c#1556195579","Date":1556195580.0,"errors":null}'
  recorded_at: Thu, 25 Apr 2019 12:32:59 GMT
recorded_with: VCR 4.0.0
