---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic c2ltb25scDpjVWRkNEhBdlBRM044dnZMamRld3VDYjRlSFFBUFFNVGpubmpPZ0tneUxtdG1jNUNGSg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"445c0fdd940b460687aa374df4ceaab8","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 25 Apr 2019 16:35:08 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":64361581,"PaymentType":"CARD","DebitedFunds":{"Currency":"EUR","Amount":498.0},"CreditedUserId":64347949,"Fees":{"Currency":"EUR","Amount":0},"CreditedWalletId":64348317,"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/projects","Culture":"FR"}'
    headers:
      Authorization:
      - bearer 445c0fdd940b460687aa374df4ceaab8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '29'
      - '50'
      - '8'
      - '91'
      X-Ratelimit-Remaining:
      - '105509'
      - '2292'
      - '4471'
      - '8750'
      X-Ratelimit-Reset:
      - '1556211000'
      - '1556211900'
      - '1556213700'
      - '1556296440'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"64475041","Tag":null,"CreationDate":1556210108,"AuthorId":"64361581","CreditedUserId":"64347949","DebitedFunds":{"Currency":"EUR","Amount":498},"CreditedFunds":{"Currency":"EUR","Amount":498},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"64348317","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=1IsKvFYPpMvfefmx62561556210108348","ReturnURL":"http://localhost:3000/projects?transactionId=64475041","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=0fd8c9e10dc444f993e4b0ea998b656b&transactionId=64475041","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Thu, 25 Apr 2019 16:35:08 GMT
recorded_with: VCR 4.0.0
