---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":64361581,"PaymentType":"CARD","DebitedFunds":{"Currency":"EUR","Amount":346.0},"CreditedUserId":64347949,"Fees":{"Currency":"EUR","Amount":0},"CreditedWalletId":64348317,"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/projects","Culture":"FR"}'
    headers:
      Authorization:
      - bearer 088a3baad8a94cf0a46bc599d2d5becf
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '12'
      - '23'
      - '61'
      - '98'
      X-Ratelimit-Remaining:
      - '105502'
      - '2288'
      - '4477'
      - '8739'
      X-Ratelimit-Reset:
      - '1556211660'
      - '1556212560'
      - '1556214360'
      - '1556297100'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"64475727","Tag":null,"CreationDate":1556210810,"AuthorId":"64361581","CreditedUserId":"64347949","DebitedFunds":{"Currency":"EUR","Amount":346},"CreditedFunds":{"Currency":"EUR","Amount":346},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"64348317","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=1Jaui1q6NsiHX8ou52811556210810233","ReturnURL":"http://localhost:3000/projects?transactionId=64475727","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=6bd9dcecb6fd4e86ba86a81e734ac6d2&transactionId=64475727","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Thu, 25 Apr 2019 16:46:50 GMT
recorded_with: VCR 4.0.0
