---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic c2ltb25scDpjVWRkNEhBdlBRM044dnZMamRld3VDYjRlSFFBUFFNVGpubmpPZ0tneUxtdG1jNUNGSg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"e8675edeadcd4d69831c2e0e7b769391","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 25 Apr 2019 09:10:59 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":64361581,"PaymentType":"CARD","DebitedFunds":{"Currency":"EUR","Amount":232.0},"CreditedUserId":64347949,"Fees":{"Currency":"EUR","Amount":0},"CreditedWalletId":64348317,"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/projects","Culture":"FR"}'
    headers:
      Authorization:
      - bearer e8675edeadcd4d69831c2e0e7b769391
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1'
      - '197'
      - '6'
      - '9'
      X-Ratelimit-Remaining:
      - '105403'
      - '2299'
      - '4494'
      - '8791'
      X-Ratelimit-Reset:
      - '1556184300'
      - '1556185200'
      - '1556187000'
      - '1556269740'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"64414863","Tag":null,"CreationDate":1556183459,"AuthorId":"64361581","CreditedUserId":"64347949","DebitedFunds":{"Currency":"EUR","Amount":232},"CreditedFunds":{"Currency":"EUR","Amount":232},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"64348317","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=1HaEL5sWvW8WGBwdL2211556183459561","ReturnURL":"http://localhost:3000/projects?transactionId=64414863","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=f9711b02acd54613b19f0f2c10486ab0&transactionId=64414863","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Thu, 25 Apr 2019 09:10:59 GMT
recorded_with: VCR 4.0.0
