<div class="container-fluid" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="mb-3 mt-4">
      <%= button_to "Edit my account", edit_user_registration_path, class:"btn btn-success btn-lg", method:"get" %>
      </div>
    </div>
  </div>
</div>

