<div class="container-fluid" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="mb-3 mt-4">
        <button type="button" class="btn btn-primary btn-lg"><%= link_to "Edit my account", edit_user_registration_path %></button>
      </div>
    </div>
  </div>
</div>

