<div class="container-fluid" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="mt-4">
        <p style="text-center"><h1><%= user_state(current_user) %></h1></p>
      </div>
    </div>
  </div>
</div>

