<section class="slice bg-minimalist">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="<%= @project.image_url(:thumb) %>" alt="img shop" class="pl-5">
            </div>
            <div class="col-lg-5 ml-lg-auto">
                <div class="product-description-wrapper">
                    <!-- Product title -->
                    <h2 class="heading heading-4 strong-600 text-capitalize">
                    <%= @project.name %>
                    </h2>
                    <span class="heading heading-light heading-5 strong-600 mt-3">
                    <%= number_to_currency( @project.goal, :unit=>'$') %>
                    </span>

                </div>
            </div>
        </div>
    </div>
</section>

