---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic c2ltb25scDpjVWRkNEhBdlBRM044dnZMamRld3VDYjRlSFFBUFFNVGpubmpPZ0tneUxtdG1jNUNGSg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"088a3baad8a94cf0a46bc599d2d5becf","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 25 Apr 2019 16:46:48 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Zenia","LastName":"Hyatt","Address":{"AddressLine1":"117
        Bobette Green","AddressLine2":"Apt. 580","City":"East Cleo","Region":"Hawaii","PostalCode":"75010","Country":"KZ"},"Birthday":854060400,"Nationality":"IN","CountryOfResidence":"AR","Occupation":"worker","IncomeRange":2,"Email":"clair@borerkiehn.name"}'
    headers:
      Authorization:
      - bearer 088a3baad8a94cf0a46bc599d2d5becf
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '21'
      - '59'
      - '96'
      X-Ratelimit-Remaining:
      - '105504'
      - '2290'
      - '4479'
      - '8741'
      X-Ratelimit-Reset:
      - '1556211660'
      - '1556212560'
      - '1556214360'
      - '1556297100'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":"117 Bobette Green","AddressLine2":"Apt.
        580","City":"East Cleo","Region":"Hawaii","PostalCode":"75010","Country":"KZ"},"FirstName":"Zenia","LastName":"Hyatt","Birthday":854060400,"Nationality":"IN","CountryOfResidence":"AR","Occupation":"worker","IncomeRange":2,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"clair@borerkiehn.name","KYCLevel":"LIGHT","Id":"64475725","Tag":null,"CreationDate":1556210808}'
  recorded_at: Thu, 25 Apr 2019 16:46:48 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["64475725"],"Currency":"EUR","Description":"Test wallet"}'
    headers:
      Authorization:
      - bearer 088a3baad8a94cf0a46bc599d2d5becf
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '11'
      - '22'
      - '60'
      - '97'
      X-Ratelimit-Remaining:
      - '105503'
      - '2289'
      - '4478'
      - '8740'
      X-Ratelimit-Reset:
      - '1556211660'
      - '1556212560'
      - '1556214360'
      - '1556297100'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Test wallet","Owners":["64475725"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"64475726","Tag":null,"CreationDate":1556210808}'
  recorded_at: Thu, 25 Apr 2019 16:46:48 GMT
recorded_with: VCR 4.0.0
