---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Melita","LastName":"Conn","Address":{"AddressLine1":"71448
        Flatley Extension","AddressLine2":"Apt. 342","City":"Janiceview","Region":"Tennessee","PostalCode":"75010","Country":"MQ"},"Birthday":370825200,"Nationality":"SK","CountryOfResidence":"SA","Occupation":"worker","IncomeRange":2,"Email":"chad@franecki.info"}'
    headers:
      Authorization:
      - bearer e8675edeadcd4d69831c2e0e7b769391
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm=MangopayAuthentication
      - Bearer realm="MangopayAuthentication"
    body:
      encoding: UTF-8
      string: '{"Message":"The authorization credentials are not valid","Type":"invalid_credentials","Id":"e4f96b76-1100-4b82-bfd4-8ac035a97ab5#1556204574","Date":1556204575.0,"errors":null}'
  recorded_at: Thu, 25 Apr 2019 15:02:54 GMT
recorded_with: VCR 4.0.0
