---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Librada","LastName":"Bergnaum","Address":{"AddressLine1":"841
        Hills Orchard","AddressLine2":"Apt. 593","City":"Davidview","Region":"Michigan","PostalCode":"75010","Country":"BW"},"Birthday":-490150800,"Nationality":"NL","CountryOfResidence":"AF","Occupation":"worker","IncomeRange":2,"Email":"estefanasawayn@morartorp.net"}'
    headers:
      Authorization:
      - bearer 445c0fdd940b460687aa374df4ceaab8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '30'
      - '51'
      - '9'
      - '92'
      X-Ratelimit-Remaining:
      - '105508'
      - '2291'
      - '4470'
      - '8749'
      X-Ratelimit-Reset:
      - '1556211000'
      - '1556211900'
      - '1556213700'
      - '1556296440'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":"841 Hills Orchard","AddressLine2":"Apt.
        593","City":"Davidview","Region":"Michigan","PostalCode":"75010","Country":"BW"},"FirstName":"Librada","LastName":"Bergnaum","Birthday":-490150800,"Nationality":"NL","CountryOfResidence":"AF","Occupation":"worker","IncomeRange":2,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"estefanasawayn@morartorp.net","KYCLevel":"LIGHT","Id":"64475048","Tag":null,"CreationDate":1556210109}'
  recorded_at: Thu, 25 Apr 2019 16:35:09 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/simonlp/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["64475048"],"Currency":"EUR","Description":"Test wallet"}'
    headers:
      Authorization:
      - bearer 445c0fdd940b460687aa374df4ceaab8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.31","lang":"ruby","lang_version":"2.3.5 p376 (2017-09-14)","platform":"x86_64-darwin18","uname":"Darwin
        Capsenss-MacBook-Pro.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22
        20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '31'
      - '52'
      - '93'
      X-Ratelimit-Remaining:
      - '105507'
      - '2290'
      - '4469'
      - '8748'
      X-Ratelimit-Reset:
      - '1556211000'
      - '1556211900'
      - '1556213700'
      - '1556296440'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Test wallet","Owners":["64475048"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"64475051","Tag":null,"CreationDate":1556210109}'
  recorded_at: Thu, 25 Apr 2019 16:35:09 GMT
recorded_with: VCR 4.0.0
